<div id="about">
  <div>
    <h2>
      About Rare Union
    </h2>
    <h3>
      We help great organizations solve messy content problems.
    </h3>
    <div class="row">
      <div class="col">
        <img src="images/SWB.png" alt="Sara Wachter-Boettcher">
      </div>
      <div class="col">
        <h4>
          Principal: Sara Wachter-Boettcher
        </h4>
        <p>
          Rare Union is led by Sara Wachter-Boettcher, a content strategy expert, author, and speaker who has worked on the web since 2005. Since launching her consultancy in 2011, she’s led projects and facilitated workshops for Fortune 100 corporations, education and research institutions, and both B2B and consumer startups. She lives in Philadelphia, but she’s still not quite sure she’s saying <em>jawn</em> correctly.
        </p>
        <h4>
          Extended team
        </h4>
        <p>
          Rare Union calls on a short list of partners to augment projects when and where they’re needed—including user researchers, information architects, and writers. You’ll love them, we promise.
        </p>
      </div>
    </div>
  </div>
</div>