<div id="books">
  <div class="books-content-wrapper">
    <h2>
      Our Books
    </h2>
    <h3>
      Get your copies of Sara Wachter-Boettcher‘s books on design and content strategy.
    </h3>
    <div class="books-wrapper row">
      <div class="book-area dfrl-wrapper row">
        <div class="dfrl-book-wrapper col">
          <a href="https://abookapart.com/products/design-for-real-life" target="_blank">
            <img src="" alt="Design for Real Life">
          </a>
        </div>
        <div class="dfrl-descripion-wrapper col">
          <h4 >
            Design for Real Life
          </h4>
          <h5>
            A Book Apart, 2016
          </h5>
          <p>
            Learn to design for humans, in all their complexity.
          </p>
          <a href="https://abookapart.com/products/design-for-real-life" traget="_blank" id="dfrl-btb" class="btn alt">Buy a copy</a>
        </div>
      </div>
      <div class="book-area ce-wrapper row">
        <div class="ce-book-wrapper col">
          <a href="http://rosenfeldmedia.com/books/content-everywhere/" target="_blank">
            <img src="" alt="Content Everywhere">
          </a>
        </div>
        <div class="ce-content-wrapper col">
          <h4>
            Content Everywhere
          </h4>
          <h5>
            Rosenfeld Media, 2012
          </h5>
          <p>
            Design mobile-ready content systems and whip your CMS into shape.
          </p>
          <a href="http://rosenfeldmedia.com/books/content-everywhere/" traget="_blank" id="ce-btb" class="btn alt">Buy a copy</a>
        </div>
      </div>
    </div>
  </div>
</div>