<div id="books" class="site-content">
  <div class="row books-content-wrapper">
    <h3 class="bold white">
      Our Books
    </h3>
    <h5 class="white">
      Get your copies of Sara Wachter-Boettcher's books on design and content strategy.
    </h5>
    <div class="books-wrapper twelve columns">
      <div class="book-area dfrl-wrapper twelve columns">
        <div class="dfrl-book-wrapper">
          <a href="https://abookapart.com/products/design-for-real-life" target="_blank">
            <img src="" alt="Design for Real Life">
          </a>
        </div>
        <div class="dfrl-descripion-wrapper">
          <h5 class="white">
            Design for Real Life
          </h5>
          <p class="white publisher">
            A Book Apart, 2016
          </p>
          <br />
          <p class="white">
            Learn to design for humans, in all their complexity.
          </p>
          <a href="https://abookapart.com/products/design-for-real-life" traget="_blank" id="dfrl-btb" class="sm-btn btn-grey">Buy a copy</a>
        </div>
      </div>
      <div class="book-area ce-wrapper twelve columns">
        <div class="ce-book-wrapper">
          <a href="http://rosenfeldmedia.com/books/content-everywhere/" target="_blank">
            <img src="" alt="Content Everywhere">
          </a>
        </div>
        <div class="ce-content-wrapper">
          <h5 class="white">
            Content Everywhere
          </h5>
          <p class="white publisher">
            Rosenfeld Media, 2012
          </p>
          <br />
          <p class="white">
            Design mobile-ready content systems and whip your CMS into shape.
          </p>
          <a href="http://rosenfeldmedia.com/books/content-everywhere/" traget="_blank" id="ce-btb" class="sm-btn btn-grey">Buy a copy</a>
        </div>
      </div>
    </div>
  </div>
</div>