<div id="clients" class="site-content">
  <div class="row">
    <div id="clients-header">
      <h2 class="drk-grey bold">
        Clients
      </h2>
    </div>
    <div class="clients-wrapper twelve columns">
      <div id="home_depot" class="client-logos one columns">
        <img src="/images/home_depot_logo.png" alt="home_depot_logo">
      </div>
      <div id="trek_logo" class="client-logos one columns">
        <img src="/images/trek_logo.png" alt="trek_logo">
      </div>
      <div id="autodesk" class="client-logos one columns">
        <img src="/images/autodesk_logo.png" alt="autodesk_logo">
      </div>
      <div id="gates_foundation" class="client-logos one columns">
        <img src="/images/gates_foundation_logo.png" alt="gates_foundation_logo">
      </div>
      <div id="teach_for_america" class="client-logos one columns">
        <img src="/images/teach_for_america_logo.png" alt="teach_for_america_logo">
      </div>
      <div id="harvard" class="client-logos one columns">
        <img src="/images/harvard_logo.png" alt="harvard_logo">
      </div>
      <div id="wellcome" class="client-logos one columns">
        <img src="/images/wellcome_logo.png" alt="wellcome_logo">
      </div>
      <div id="ap" class="client-logos one columns">
        <img src="/images/ap_logo.png" alt="ap_logo">
      </div>
      <div id="cup" class="client-logos one columns">
        <img src="/images/cup_logo.png" alt="cup_logo">
      </div>
    </div>
  </div>
</div>