<div id="clients">
    <div id="clients-header">
      <h2>
        Clients
      </h2>
    </div>
    <div class="row">
      <div class="item-1 col">
        <img src="images/home_depot_logo.png" alt="home depot logo">
      </div>
      <div class="item-2 col">
        <img src="images/trek_logo.png" alt="trek logo">
      </div>
      <div class="item-3 col">
        <img src="images/autodesk_logo.png" alt="autodesk logo">
      </div>
      <div class="item-4 col">
        <img src="images/wellcome_logo.png" alt="wellcome logo">
      </div>
      <div class="item-5 col">
        <img src="images/ap_logo.png" alt="ap logo">
      </div>
      <div class="item-6 col">
        <img src="images/cup_logo.png" alt="cup logo">
      </div>
    </div>
</div>