<div id="consulting-and-research" class="site-content">
  <div class="row">
    <div id="consulting-and-research-content" class="twelve columns">
      <div id="consulting-and-research-header" class="twelve columns">
        <h2 class="drk-grey bold">Consulting &amp; Research</h2>
        <h5 class="pn-green">When your content works, your business just runs better. </h5>
        <p class="drk-grey">
          We get it. Content can really stress a team out: there’s too much, or it’s not mobile-ready, or your users don’t understand it. Take a deep breath. We’ll help you define your story, uncover opportunities, and design a user experience that brings your vision to life.
        </p>
      </div>
      <div class="row">
        <div class="consulting-areas-wrapper twelve columns">
          <div id="consulting-research" class="consulting-areas six columns">
            <img src="images/research_icon.svg" alt="research_icon">
            <h4>Research</h4>
            <p>
              We talk to real people to understand what users need, and how your business can deliver.
            </p>
          </div>
          <div id="consulting-analysis" class="consulting-areas six columns">
            <img src="images/analysis_icon.svg" alt="analysis_icon">
            <h4>Analysis</h4>
            <p>
              We’ll audit what you have, how it works, and where it is—pinpointing problems and opportunities.
            </p>
          </div>
        </div>
        <div class="consulting-areas-wrapper twelve columns">
          <div id="consulting-strategy" class="consulting-areas six columns">
            <img src="images/strategy_icon.svg" alt="strategy_icon">
            <h4>Strategy</h4>
            <p>
              Our guided process turns all those insights into clear, actionable plans that put users first.
            </p>
          </div>
          <div id="consulting-impementation" class="consulting-areas six columns">
            <img src="images/implementation_icon.svg" alt="implementation_icon">
            <h4>Implementation</h4>
            <p>
              We’ll build a roadmap, design content models and systems, and build and train your team.
            </p>
          </div>
        </div>
      </div>
      <div id="plan-your-project-wrapper" class="row">
        <a href="#contact-form" id="plan-your-project-btn" class="btn btn-orange">Plan your project</a>
      </div>
    </div>
  </div>
</div>
