<div id="consulting-and-research">
  <div>
    <div id="consulting-and-research-content">
      <div id="consulting-and-research-header">
        <h2>Consulting &amp; Research</h2>
        <h3 >When your content works, your business just runs better. </h3>
        <p>
          We get it. Content can really stress a team out: there’s too much, or it’s not mobile-ready, or your users don’t understand it. Take a deep breath. We’ll help you define your story, uncover opportunities, and design a user experience that brings your vision to life.
        </p>
      </div>
        <div class="row">
            <div class="item-1 col">
              <div>
                <img src="images/research_icon.svg" alt="">
              </div>
              <h5>Research</h5>
	          <p>We talk to real people to understand what users need, and how your business can deliver.</p>
            </div>
            <div class="item-2 col">
              <div>
                <img src="images/analysis_icon.svg" alt="">
              </div>
              <h5>Analysis</h5>
			  <p>We’ll audit what you have, how it works, and where it is—pinpointing problems and opportunities.</p>
            </div>
            <div class="item-2 col">
              <div>
                <img src="images/strategy_icon.svg" alt="">
              </div>
              <h5>Strategy</h5>
			  <p>Our guided process turns all those insights into clear, actionable plans that put users first.</p>
            </div>
            <div class="item-2 col">
              <div>
                <img src="images/implementation_icon.svg" alt="">
              </div>
              <h5>Implementation</h5>
	          <p>We’ll build a roadmap, design content models and systems, and build and train your team.</p>
            </div>
        </div>
      <div class="wrap">
        <a href="#contact-form" id="plan-your-project-btn" class="btn large">Plan your project</a>
      </div>
    </div>
  </div>
</div>
