<div id="contact-form">
  <div>
    <h2>
      Contact
    </h2>
    <form id="contact-us-form" action="https://formspree.io/sara@rareunion.com" method="POST">
      <input type="text" name="_gotcha" style="display:none" />
      <input id="botName" type="text" name="_bot-name" style="display:none">
      <div class="row">
        <input type="hidden" name="_subject" value="Rare Union Inquiry" />
        <div>
          <label for="name" required>Name</label>
          <span id="name-required-warning" class="warning">Name is required</span>
          <input class="u-full-width" type="text" id="nameInput">
        </div>
        <div>
          <label for="title">Title <span>Optional</span></label>
          <input class="u-full-width" type="text" id="titleInput">
        </div>
        <div>
          <label for="organization">Organization <span>Optional</span></label>
          <input class="u-full-width" type="text" id="organizationInput">
        </div>
        <div>
          <label for="email" required>Email</label>
          <span id="email-required-warning" class="warning">Email is required</span>
          <input class="u-full-width" type="email" id="emailInput" name="_replyto">
        </div>
        <div class="project-info">
          <label for="project-info">Tell us about your project</label>
          <textarea form="contact-form" class="u-full-width" type="textarea" id="projectInput"></textarea>
        </div>
      </div>
      <div id="form-error">
        <h5>
          Oops!
          <br />
          There was an error submitting this form.
        </h5>
      </div>
      <div class="row">
        <div class="submit-button">
        <div class="g-recaptcha" data-sitekey="6LcbYS0UAAAAAGto-Cc8Ydt2dVW1NodxIhkWX1R0"></div>
          <div class="submit-button-wrapper">
            <button type="submit" id="contact-submit" class="btn large">Send</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
