<div id="contact-form" class="site-content">
  <div class="row">
    <h2 class="drk-grey bold">
      Contact
    </h2>
    <form action="">
      <div class="row">
        <div class="twelve columns">
          <label for="name" class="drk-grey">Name</label>
          <input class="u-full-width" type="text" id="nameInput">
        </div>
        <div class="twelve columns">
          <label for="title" class="drk-grey">Title <span class="lt-grey">Optional</span></label>
          <input class="u-full-width" type="text" id="titleInput">
        </div>
        <div class="twelve columns">
          <label for="organization" class="drk-grey">Organization <span class="lt-grey">Optional</span></label>
          <input class="u-full-width" type="text" id="organizationInput">
        </div>
        <div class="twelve columns">
          <label for="email" class="drk-grey">Email</label>
          <input class="u-full-width" type="email" id="emailInput">
        </div>
        <div class="twelve columns project-info">
          <label for="project-info" class="drk-grey">Tell us about your project</label>
          <textarea form="contact-form" class="u-full-width" type="textarea" id="projectInput"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="submit-button twelve columns">
          <div class="submit-button-wrapper">
            <button class="btn btn-orange">Send</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
