<div id="footer" class="site-content">
  <div class="row footer-content">
    <div class="footer-paragraph twelve columns">
      <p class="white">
        You can help Sara burn down the patriarchy and follow her on <a href="https://twitter.com/sara_ann_marie">twitter</a>, find out how you can fix what's wrong with tech her blog on <a href="http://www.sarawb.com/">sarawb.com</a>, and see her bring the noise live by <a href="http://www.sarawb.com/speaking/">inviting her to speak</a> at your event.
      </p>
    </div>
    <div class="footer-from twelve columns white">
      Brought to you from beautiful South Philadelphia.
    </div>
  </div>
</div>
