<div id="footer" class="site-content">
  <div class="row footer-content">
    <div class="footer-from twelve columns white">
      <h5 class="footer-header black-weight section-header">
        Brought to you from beautiful South Philadelphia.
      </h5>
      <div class="footer-info">
      (541) 517-2870<br/>
      <a href="https://twitter.com/sara_ann_marie">Follow Sara on Twitter</a><br />
      Speaking &amp; author info: <a href="http://www.sarawb.com/">sarawb.com</a><br />
      &copy; Rare Union, {{ 'now' | date: "%Y" }}
      </div>
    </div>
  </div>
</div>
