<div id="landing-section" class="twelve columns">
  <div id="landing-section-content" class="twelve columns">
    <div id="headline">
      <h2>
        Smart content.
      </h2>
      <h2>
        Happy users.
      </h2>
      <h2>
        Engaged team.
      </h2>
    </div>
    <div id="landing-description">
      <p>
        <strong>Let's bring it all together.</strong> We're a content strategy and user experience consultancy that will change the way you communicate with customers.
      </p>
      <div id="work-with-us-wrapper">
        <a href="#" id="work-with-us-btn">Work with us</a>
      </div>
    </div>
  </div>
</div>