<div id="landing-section" class="twelve columns">
  <div id="landing-section-content" class="site-content">
    <div id="headline">
      <h2 class="bold white">
        Smart content.
      </h2>
      <h2 class="bold white">
        Happy users.
      </h2>
      <h2 class="bold white">
        Engaged team.
      </h2>
    </div>
    <div id="landing-description">
      <p class="white">
        <strong class="bold">Let's bring it all together.</strong> We're a content strategy and user experience consultancy that will change the way you communicate with customers.
      </p>
      <div id="work-with-us-wrapper" class="twelve columns">
        <a href="#" id="work-with-us-btn" class="btn btn-orange">Work with us</a>
      </div>
    </div>
  </div>
</div>