<header>
  <nav class="row">
	  <div class="col">
	    <img src="images/logo.svg" alt="Rare Union Logo" id="logo">
	  </div>
      <ul class="nav-list col">
        <li id="consulting-nav"><a href="#consulting-and-research-content">Consulting</a></li>
        <li id="workshops-nav"><a href="#workshops-and-training">Workshops</a></li>
        <li id="about-nav"><a href="#about">About</a></li>
        <li><a href="#contact-form" id="work-with-us-nav-btn" class="btn small">Work with us</a></li>
      </ul>
  </nav>
</header>
