<header>
  <nav class="twelve columns">
    <img src="/images/logo.svg" alt="Rare Union Logo" id="logo">
    <div class="nav-list-wrapper">
      <ul class="nav-list">
        <li class="" id="consulting-nav"><a href="#" class="drk-grey bold">Consulting</a></li>
        <li class="" id="workshops-nav"><a href="#" class="drk-grey bold">Workshops</a></li>
        <li class="" id="about-nav"><a href="#" class="drk-grey bold">About</a></li>
        <li class=""><a href="#" id="work-with-us-nav-btn" class="white">Work with us</a></li>
      </ul>
    </div>
  </nav>
</header>
