<div id="workshops-and-training" class="site-content">
  <div class="row workshop-wrapper">
    <div id="workshop-image-wrapper">
    </div>
    <div id="workshop-description">
      <h3 class="black-weight white section-header">Workshops &amp; Training</h2>
      <h5 class="white">Gain skills, alignment, and momentum.</h5>
      <p class="white">We love workshops—and your team will, too. Our curricula are designed to kickstart your projects, engage stakeholders in decision-making, and provide training to teams of all types. Half-day, full-day, or multi-day sessions available.</p>
      <div id="plan-your-project-wrapper" class="row">
        <a href="#contact-form" id="plan-your-project-btn" class="btn btn-grey">Talk workshops with us</a>
      </div>
    </div>
  </div>
</div>