// For the custom css
// Fonts
body {
  font-family: "ProximaNova-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav ul {
  list-style: none;
}

nav li {
  margin-bottom: 0;
  display: inline-block;
}

nav a {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 7px 0;
  line-height: 30px;
}