// For the custom css
// Fonts
* {
  font-family: "ProximaNova-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

body {
  margin: 0;
  padding: 0;
}

#main-container {
  padding: 0 0.9em 0 0.9em;
}

nav {
  width: 100%;
  margin-top: 8px;
}

nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav li {
  margin-bottom: 0;
  float: left;
}

nav li:first-child, nav li:nth-child(2) {
  padding-right: 1.6em;
}

nav a {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 0 0 0 0;
  text-decoration: none;
  font-size: 1em;
  font-family: "ProximaNova-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #515151;
}

nav a:hover {
  color: #00A99D;
}

#logo {
  width: 10em;
  height: auto;
  padding-left: 0;
  padding-bottom: 0.3em;
}

#work-with-us-nav-btn {
  display: none;
}

#landing-section {
  background: url("/images/landing-image-med.png");
  background-size: 190%;
  height: 36em;
  background-position: 40% 20%;
  background-repeat: no-repeat;
  width: 100%;
}

#landing-section-content {
  padding: 0 0 0 0.9em;
  position: relative;
  height: 34em;
}

#landing-section h2 {
  color: #fff;
  margin: 0;
  font-size: 2.1em;
  font-family: "ProximaNova-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

#landing-section h2:first-child {
  padding-top: 0.6em;
}

#landing-section p {
  color: #fff;
  letter-spacing: 0.03em;
  margin-bottom: 1em;
  padding-right: 0.9em;
}

#landing-section p strong {
  font-family: "ProximaNova-bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  border-bottom: 2px solid #DB5757;
  padding-bottom: 0.15em;
}

#landing-description {
  position: absolute;
  bottom: 0;
}

#work-with-us-wrapper {
  width: 90%;
}

#work-with-us-btn {
  display: block;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  background: #DB5757;
  padding: 0.7em 1.4em 0.7em 1.4em;
  text-decoration: none;
  margin: 0 auto;
  width: 15em;
  text-align: center;
}


/* Larger than mobile */

@media (min-width: 400px) {
  nav a {
    font-size: 1.2em;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  #landing-section {
    background-size: 110%;
  }

  #landing-section-content {
    padding: 0 0 0 2em;
    height: 29em;
  }

  #landing-section h2 {
    font-size: 1.8em;
  }

  #landing-section h2:first-child {
    padding-top: 2em;
  }

  #landing-section p {
    margin-bottom: 1em;
  }

  #work-with-us-btn {
    margin: 0 0 0 0;
  }

}

/* Larger than tablet */
@media (min-width: 750px) {
  #main-container {
    padding: 0 0 0 0;
    width: 90%;
  }

  #logo {
    width: 232px;
    height: auto;
    padding-left: 0;
    padding-bottom: 0.3em;
  }

  nav {
   position: relative;
  }

  .nav-list-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  nav a {
    font-size: 1em;
  }
  #work-with-us-nav-btn {
    display: inline;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #ffffff;
    background: #DB5757;
    padding: 0.5em 1.4em 0.5em 1.4em;
    margin-top: -0.5em;
    text-decoration: none;
  }

  #work-with-us-nav-btn:hover {
    background: #e87b6f;
    text-decoration: none;
  }

  nav li:first-child, nav li:nth-child(2), nav li:nth-child(3){
    padding-right: 2em;
  }

  #landing-section {
    background-image: url("/images/landing-image.png");
    size: 100%;
  }

  #landing-section-content {
    padding: 0 0 0 2em;
    height: 26em;
  }

  #landing-section h2 {
    font-size: 2.4em;
  }

  #landing-section h2:first-child {
    padding-top: 3em;
  }

  #landing-section p {
    margin-bottom: 2em;
  }

  #landing-description {
    width: 80%;
  }

  #work-with-us-btn {
    margin: 0 0 0 0;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {
  nav li:first-child, nav li:nth-child(2), nav li:nth-child(3){
    padding-right: 4em;
  }
  #landing-section {
    background-image: url("/images/landing-image.png");
  }
  #landing-section-content {
    float: none;
    margin: 0 auto;
    width: 86%;
  }

  #landing-section-content {
    padding: 0 0 0 2em;
    height: 30em;
  }

  #landing-section h2 {
    font-size: 3em;
  }

  #landing-section h2:first-child {
    padding-top: 2em;
  }

  #landing-section p {
    margin-bottom: 2.5em;
  }

  #work-with-us-btn {
    margin: 0 0 0 0;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
   #landing-section {
    background-image: url("/images/landing-image.png");
    height: 580px;
  }
}

@media (min-width: 1400px) {
   #landing-section {
    background-image: url("/images/landing-image.png");
    height: 700px;
  }
}

