// Layout ########################################

body {
	background-color: #ffffff;
	color: $black;
	font-size: 18px;
	margin: .75em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

#main-container {
	background-color: #fcfcfc;
	width: 100%;
}


// Buttons ########################################

.btn, button {
	background-color: $red;
	border: 2px solid $red;
	border-radius: 100px;
	color: $white;
	font-size: 1em;
	font-weight: bold;
	height: auto;
	line-height: 1.3;
	margin: 0;
	padding: .5em 1em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	-webkit-appearance: none;
	&:hover {
		background-color: transparent;
		border-color: $red;
		color: $red;
		transition: background-color 0.2s ease;
	}
}

.large {
	display: table-cell;
	padding: 1em 6em;
	width: 100%;
	@include w700 {
		display: block;
		margin: 0 auto;
		max-width: 350px;
		}
	@include n480 {
		padding: 1em 3em;
	}
}
.alt {
	background-color: $black;
	border-color: $black;
}	

// Type ########################################

h2 {
  font-family: $heading; 
  font-size: 48px;
  font-weight: 900;
}

h3 {
	color: $teal;
	font-size: 1.25em;
	font-weight: 200;
}

h5 {
	font-size: 1.25em;
	margin-bottom: 1em;
}

// Shared Layout ########################################

#consulting-and-research, #about, #clients, #books, #contact-form {
	display: inline-block;
	margin-bottom: 2em;
	padding: 1em;
		@include w700 {
			padding: 10vh 15%;
			}
}


#consulting-and-research, #books {
	.col {
	   flex: 0 0 calc(50% - 24px);   /* flex-basis adjustment for margin */
	   margin: 1em 12px;
	   @include w700 {
		   flex: 0 0 calc(25% - 48px);
		   margin: 2em 24px;
	   }
	}	
}

#workshops-and-training, #books, #footer {
	background-color: $teal;
	background-image: url(/images/diamonds.png);
	background-position: left top;
	background-repeat: repeat;
	color: $white;
	margin: 2em auto;
	padding-bottom: 2em;
	h2, h3, h4, h5, p, .btn {
		color: $white;
		font-weight: bold;
		margin: 12px 24px;
		text-align: left;
	}
	h2 {
		margin-top: 24px;
	}
	h5 {
		font-weight: normal;
	}
	p {
		margin-bottom: 2em;
	}
	.btn {
		&:hover{
			border-color: $white;
			color: $white;
		}
	}
}

.wrap {
	display: table;
	width: 100%;
}

// Nav ########################################

nav {
	margin: 1em 1em;
	ul{
		width: auto;
	}
		ul li {
			display: inline;
			margin-right: 2em;
				a {
					color: $black;
					font-weight: bold;
					text-decoration: none;
				}
				.btn {
					display: none;
					@include w700 {
						display: inherit;
					}
				}
		}
		@include w700 {
			&.row {
				align-content: center;
				flex-direction: row;
				justify-content: space-between;
				padding-top: 2em;
				}
			ul {
				margin-top: 1em;
				//display: inline-flex;
			}
			#logo {
				height: 3em;
				margin: 0 0 0 2em;
				}
		}
}

#logo {
	height: 2em;
	margin: 1em 0;
	width: auto;
}


// Heroine ########################################

#landing-section {
  background: url("../images/landing-image-med.png");
  background-size: cover;
  background-position: left 70%;
  background-repeat: no-repeat;
  margin-bottom: 2em;
  padding: 2em 1em 4em;
	  h2 {
		  color: $white;
		  margin-bottom: 4em;
		  }
	  p {
		  color: $white;
		  margin-bottom: 2em;
	  }
	  strong {
		  border-bottom: 3px solid $red;
	  }
 	.btn:hover {
		  border-color: $white;
		  color: $white;
	  }
		@include w700 {
			padding: 20vh 15%;
			h2 {
				font-size: 4em;
				margin-bottom: .5em;
			}
			p {
				font-size: 1.5em;
				max-width: 800px;
			}
			.wrap {
				display: block;
			}
			.large {
				margin: 0;
			}
	}
}


// Consulting ########################################

#consulting-and-research {
	margin-bottom: 4em;
	.row {
		margin-bottom: 2em;
	}
	.col {
	   padding-right: 1em;
	   margin: 1em auto;
	   width: 48%;
	   div {
			margin-bottom: 1em;
		}
		img {
			height: 72px;
			width: auto;
		}
	}
}


// Workshops ########################################

#workshops-and-training {
	margin: 0;
	padding: 0 0 2em;
		@include n700 {
/*
			.row {
				flex-direction: column;
			}
*/
			.large {
				display: block;
				margin: 12px 24px;
			}
			#plan-your-project-wrapper {
				display: flex;
			}
		}
		@include n1000 {
			.row {
				flex-direction: column;
			}
		}
		@include w1000 {
			padding-bottom: 0;
			.col {
				flex: 0 0 calc(50% - 9.5%);
				flex-wrap: wrap;
				}
				&:first-child {
					display: inline-flex;
				}
			.row {
				align-items: center;
				flex-direction: row-reverse;
				justify-content: flex-start;
			}
			.large {
				display: inline-block;
				width: auto;
			}
			#workshop-image-wrapper {
				min-height: 615px;
			}
		}
		@include n1440 {
			.col {
				flex: 0 0 calc(50% - 12px);
				}

		}
		#workshop-image-wrapper {
			display: block;
			height: 376px;
		}
}

#workshop-image-wrapper {
	background-image: url(/images/workshop-image.png);
	background-position: 30% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}

// Clients ########################################

#clients {
	@include w480 {
		display: block;
		h2 {
			text-align: center;
		}
	}
	.col {
	   flex: 0 0 calc(33.33% - 48px);   /* flex-basis adjustment for margin */
	   margin: 24px;
	   @include w480 {
		   align-items: center;
		   display: inline-flex;
		   flex: 0 0 90px;
		   margin: 36px;
	   }
	}
}


// About ########################################

#about {
	.row {
		@include w700 {
			flex-direction: row;
			flex-wrap: wrap;			
		}
		@include n700 {
			flex-direction: column;
			flex-wrap: nowrap;
			img {
				width: 256px;
			}
		}
	}	
	.col {
		@include w700 {
			flex: 0 0 calc(50% - 48px);
			margin: 24px;
			}
	}
}


#swb-img-wrapper img {
	margin-bottom: 2em;
	width: 50%;
}

#about-content-wrapper {
	width: 100%;
}

// Books ########################################

#books {
	h3 {
		margin-bottom: 2em;
	}
	@include n1000{
		padding: 0;
		.row {
			justify-content: flex-start;
			width: 100%;
		}
		.col {
			flex: 0 0 calc(50% - 24px);
			flex-direction: row;
			align-content: flex-start;
			margin: 12px;
			flex-grow: 1;
		}
		img {
			width: auto;
		}
	}		
	@include w1000{
		h4, h5, p, .btn {
			margin: 0;
		}
		p { margin-bottom: 2em; }
		.col {
			flex: 0 0 calc(50% - 24px);
			margin: 12px;
		}
		.row .row {
			flex: 0 0 calc(50% - 12px);
			flex-wrap: nowrap;
		}
		img {
			max-width: 200px;
		}
	}
	@include n700 {
		img {
			max-width: 100%;
		}
	}
	@include n480 {
		.col {
			flex: 0 0 calc(100% - 12px);
			margin-bottom: 0;
			}
		img {
			margin-left: 24px;
			margin-top: 2em;
			max-width: 50%;
		}
	}
	.row .row:last-child {
		padding-bottom: 2em;
	}
	
}

.dfrl-book-wrapper {
	img {  
		content: url('../images/design-for-real-life-sm.png');
		}
}

.ce-book-wrapper img {
  content: url('../images/content-everywhere-sm.png');
}

// Contact ########################################


#contact-form {
	margin-bottom: 0;
	div {
		margin-bottom: 1em;
		text-align: left;
		width: 100%;
	}
	input {
		font-size: 1em;
	}
	form {
		margin-bottom: 0;
	}
}

#contact-form h2 {
  margin-bottom: 0.3em;
  margin-top: 0.5em;
}

.project-info textarea {
  height: 12em;
  font-size: 1em;
}

.contact-phone p {
  text-align: center;
  margin-top: 1em;
}

#contact-form textarea {
  padding: 1em;
}

.warning {
  display: none;
}

.form-warning {
  border: 1px solid $red !important;
  outline: 0;
}

#form-error {
  display: none;
}

.submit-button-wrapper {
  margin-bottom: 0;
  margin-top: 2em;
}

// Thanks ########################################

#thanks {
  display: none;
  background-image: url('../images/diamonds-sm.png');
  height: 20em;
  padding: 3em 1em 3em 1em;
}


// Footer ########################################

#footer {
	background-color: $black;
	background-image: url(/images/diamonds-dark.png);
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 2em;
	a:link, a:visited {
		color: $white;
		text-decoration: underline;
	}
	a:hover, a:active {
		text-decoration: none;
	}
}


// Flexbox ########################################

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img { 
    width: 100%;
}
