<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta author="author" content="Sara Wachter-Boettcher">
    <meta name="keywords" content="content strategy, content strategy workshops, content strategy consultant, UX consultant, content and UX, information architecture, content modeling, mobile content, structured content">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="css/main.css">
    {% include head.html %}
    <script src="javascripts/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <div class="container" id="main-container">
      {{ content }}
    </div>
  </body>
  <script type="text/javascript" src="javascripts/site.js"></script>
</html>
